*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;

    box-sizing: inherit;
}

:root {
    --clr-primary: white;
    --clr-secondary: black;
}

html {
    box-sizing: border-box;
    overflow: hidden;
}

a {
    color: dodgerblue;
    text-decoration: none;

    font-style: italic;
}

button:disabled {
    background: rgb(171, 171, 171);
    cursor: not-allowed;
}

p {
    margin: 0 !important;
}

main {
    display: flex;
    flex-grow: 1;
}

#header-holder {
    height: 4rem;
}

.infolayer {
    display: none;
}

.closeButton,
.playPauseButton {
    position: absolute;
    top: 2%;
    right: 2%;

    cursor: pointer;

    z-index: 6;

    width: 1rem;

    font-size: 1.5rem;

    /* color: white; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.playPauseButton {
    left: 2%;
}

.grey-BG {
    position: absolute;
    width: 100%;
    height: 100%;

    inset: 0;

    background-color: rgba(33, 27, 27, 0.579);

    z-index: 25;
}

.app-title {
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 1rem;
}

.app-title .app-logo {
    width: 3rem;
}

.app-title p {
    font-size: 2rem;
}

.app-title .app-logo img {
    width: 100%;
    object-fit: cover;
}

.draggable-container {
    position: absolute;
    left: 50%;
    top: 30%;
    cursor: grab;

    z-index: 20;
}

/* utility classes */
.hidden,
.hidden>* {
    display: none !important;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.text-center {
    text-align: center;
}

.bttn-grey {
    background-color: grey !important;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}