#home {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#side-panel {
    width: 20%;
    background-color: grey;

    height: 92vh;
    overflow-y: scroll;
}

#graph-area {
    width: 80%;
    background-color: cyan;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.angle-list {
    width: 99%;
    height: 4%;

    overflow-y: scroll;
}

.plot {
    width: 99% !important;
    height: 95% !important;
}

#side-panel {
    position: relative;
}

#side-panel-options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin: 1rem 0;
}

#side-panel-options > * {
    cursor: pointer;
}

#plane-info input {
    width: 3rem;
}

.instruction {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.instruction-text {
    padding: 5px;
    color: white;
    background-color: dodgerblue;
}

#tutorialWrapper {
    position: absolute;
    inset: 0;

    margin: auto;

    width: 40rem;
    height: 30rem;

    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    z-index: 5;

    /* overflow: hidden !important; */
}

.carouselImg {
    width: 100%;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}

#tut-caption {
    width: 100%;
    text-align: end;
    color: cyan;
}

@media only screen and (max-width: 1200px) {
    #side-panel {
        width: 40%;
    }
}

@media only screen and (max-width: 900px) {
    #side-panel {
        width: 50%;
    }
}

@media only screen and (max-width: 700px) {
    #home {
        flex-wrap: wrap;
    }

    #side-panel {
        position: fixed;
        bottom: 0;
        
        width: 100%;
        height: 10rem;
        
        order: 2;

        z-index: 6;
    }
}