#home {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#side-panel {
    width: 20%;
    background-color: grey;

    height: 92vh;
    overflow-y: scroll;
}

#graph-area {
    width: 80%;
    background-color: cyan;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.angle-list {
    width: 99%;
    height: 4%;

    overflow-y: scroll;
}

.plot {
    width: 99% !important;
    height: 95% !important;
}

@media only screen and (max-width: 1200px) {
    #side-panel {
        width: 40%;
    }
}

@media only screen and (max-width: 900px) {
    #side-panel {
        width: 50%;
    }
}

@media only screen and (max-width: 700px) {
    #home {
        flex-wrap: wrap;
    }

    #side-panel {
        position: fixed;
        bottom: 0;
        
        width: 100%;
        height: 20rem;
        
        order: 2;
    }
}