#home {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#tutorial-bttn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5rem;

    cursor: pointer;
}

#side-panel {
    width: 25%;
    background-color: grey;

    height: 90vh;
    position: relative;
}

.side-panel-small > *:not(#panel-toggle-btn) {
    display: none !important;
}

.side-panel-small {
    width: 3% !important;
}

.graph-area-big {
    width: 97% !important   ;
}

#panel-toggle-btn {
    position: absolute;
    right: 0;
    
    border: 2px solid rgb(53, 53, 53);

    padding: 0 5px;
    margin: 0 0.5rem;

    cursor: pointer;
}

.side-panel-small>#panel-toggle-btn {
    right: auto;
    margin: 0;
}

.side-panel-small {
    display: flex;
    justify-content: center;
}

#panel-toggle-btn:hover {
    background-color: dodgerblue;
}

#side-panel-options {
    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#side-panel-options > * {
    cursor: pointer;
}

#plane-info input {
    width: 3rem;    
}

#add-plane-bttn-wrapper {
    height: 10%;
}

#graph-details-wrapper {
    overflow-y: scroll;
    height: 80%;
}

#graph-area {
    width: 75%;
    background-color: cyan;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.angle-list {
    width: 99%;
    height: 4%;

    overflow-y: scroll;
}

#plot {
    width: 99% !important;
    height: 95% !important;
}

.instruction {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.instruction-text {
    padding: 5px;
    color: white;
    background-color: dodgerblue;
}

#tutorialWrapper {
    position: absolute;
    inset: 0;

    margin: auto;

    width: 35%;
    height: 50%;

    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    z-index: 7;

    /* overflow: hidden !important; */
}

.carouselImg {
    width: 100%;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}

#tut-caption {
    width: 100%;
    text-align: end;
    color: cyan;
}

@media only screen and (max-width: 1200px) {
    #side-panel {
        width: 40%;
    }
    #graph-area {
        width: 58%;
    }

    .side-panel-small {
        width: 5% !important;
    }
    
    .graph-area-big {
        width: 95% !important;
    }

    #tutorialWrapper {
        width: 60%;
        height: 80%;
    }
}

@media only screen and (max-width: 900px) {
    #side-panel {
        z-index: 5;
        position: absolute;
        width: 60vw;
    }

    .side-panel-small {
        width: 2rem !important;
    }

    #graph-area {
        width: 99% !important;
    }

    #tutorialWrapper {
        width: 70%;
        height: 85%;
    }
}

@media only screen and (max-width: 700px) {
    #home {
        flex-wrap: wrap;
    }

    #side-panel {
        width: 80vw;
    }

    #tutorialWrapper {
        width: 90%;
        height: 80%;
    }
}